.App {
  text-align: center;
  background-image: url("./Images/main.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align content to the top-left */
  justify-content: flex-start; /* Align items to the left */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 40px; /* Consistent padding for the header */
  padding-bottom: 20px;
}

.App-TandC {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  justify-content: flex-start; /* Align items to the top-left */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 40px; /* Same left padding as header */
  padding-top: 20px; /* Add some space at the top */
  margin-top: 10px; /* Remove any extra space between sections */
}

.App-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 40px; /* Same left padding as header */
  padding-top: 20px; /* Add some space at the top */
  padding-bottom: 40px;
  margin-top: 0;
}

.App-information-entry {
  background-color: #282c34;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start;
  color: white;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  margin-top: 0;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
